on early-boot
    # Permission for Health Storage HAL
    chown system system /sys/devices/platform/soc/4804000.ufshc/manual_gc
    chown system system /sys/devices/platform/soc/4804000.ufshc/ufshid/trigger

on boot
   # Set adaptive charging perms for HAL
   chown system system /sys/module/qpnp_adaptive_charge/parameters/upper_limit
   chown system system /sys/module/qpnp_adaptive_charge/parameters/lower_limit

on property:sys.boot_completed=1
    write /sys/devices/platform/soc/soc:mmi,charger/state_sync 1

on property:vendor.boot_completed=1
    start thermal-engine

on property:dev.bootcomplete=1
    stop llkd-${ro.debuggable:-0}
